name: Build and publish Docker image to quay.io
on:
  push:
    branches:
      - 'develop'
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  issues: write
  pull-requests: write

env:
  REPOSITORY: quay.io/sdase/image-metadata-collector

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go for Tests
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: 1.24

      - name: Test with Go
        run: go test -race -coverprofile=coverage.out ./...

      - name: Semantic Release Dry Run
        id: semantic-release-dry
        uses: cycjimmy/semantic-release-action@c4a2fa890676fc2db25ad0aacd8ab4a0f1f4c024 # v4.2.1
        with:
          dry_run: true
          extra_plugins: |
            @semantic-release/git@10.0.1
            @semantic-release/release-notes-generator@14.0.3
            @semantic-release/github@11.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Get Semantic Release Version
        id: get-version
        run: |
          branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}
          sanitized_branch=$(echo "${branch}" | tr '/' '-')
          if [ "${branch}" == "main" ]; then
            if [ -z "${{ steps.semantic-release-dry.outputs.new_release_version }}" ]; then
              echo "semantic release not detecting a new version, using latest tag"
              VERSION=$(git describe --tags --abbrev=0)
            else
              VERSION=${{ steps.semantic-release-dry.outputs.new_release_version }}
            fi
            echo "version=$VERSION" >> $GITHUB_OUTPUT
          else
            echo "version=${sanitized_branch}" >> $GITHUB_OUTPUT
          fi

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Login to Quay.io
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Build image and push to Quay.io
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ env.REPOSITORY }}:${{ steps.get-version.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Release and Publish
        uses: cycjimmy/semantic-release-action@c4a2fa890676fc2db25ad0aacd8ab4a0f1f4c024 # v4.2.1
        with:
          extra_plugins: |
            @semantic-release/git@10.0.1
            @semantic-release/release-notes-generator@14.0.3
            @semantic-release/github@11.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
