name: PR Validation
on:
  pull_request:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Set up Go for Tests
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: Test with Go
        run: go test ./...

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image (validation only)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: false
          platforms: linux/amd64
          tags: image-metadata-collector:pr-validation
